#!/bin/sh -e
#
# {{ ansible_managed }}
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.

exec 2> {{ rc_logpath }}       # send stderr from rc.local to a log file
exec 1>&2                      # send stdout to the same log file
echo "rc.local started"        # show start of execution
set -x  

{% for command in rc_local_commands %}
{{ command }}
{% endfor %}
echo "rc.local completed"
exit 0
